@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow: hidden;
}

.full-screen {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Custom Menu positioning */
.options-menu {
  position: fixed;
  top: 1rem;
  right: 1rem;
  max-height: calc(100vh - 2rem);
  z-index: 50;
  /* transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; */
}

/* Hidden state for the menu */
.options-menu:not(.options-menu-visible) {
  transform: translateX(120%);
  opacity: 0;
  pointer-events: none;
}

.phone-menu-toggler {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 50;
}